.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    height: 60px;
}

.navbar a {
    color: #222;
    text-decoration: none;
    margin: 0 1rem;
    /* Adds gap between links */
    font-weight: 500;
    font-size: 1rem;
}