.location-input {
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 200px;
    font-size: 16px;
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.search-input {
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    /* flat right, rounded left */
    width: 400px;
    font-size: 16px;
}


/* card section */
.cards-section {
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    padding: 20px;


}

.card {
   
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    width: 25%;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
  
}

.card-image {
    padding:3% 0 0 0;
    flex: 1;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 0;
}

.card-image img {
   
}


.card-text {
   padding: 1%;
    height: 30%;    
   
}

/* dropdown styles */

.dropdown{
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
     width: 500px;
    margin-left: 250px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
